* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.sidebar {
    position: fixed;
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    background-color: #343A40;
    color: white;
    width: 17rem;
    height: 60rem;
    border-radius: 0 0.5rem 0.5rem 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-78%);

    .toggle_btn {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        margin: 0.7rem;
        background-color: gray;
    }

    .sidebar-icon {
        height: 2.7rem;
        width: 2.7rem;
    }

    .sidebar-icons {
        height: 2.2rem;
        width: 2.2rem;
        margin-right: 0.5rem;
    }

    .sidebar-head {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 11rem;

        h2 {
            color: black;
            font-size: 1.4rem;
        }
    }

    .nav-item-1, .nav-item-2, .nav-item-3, .nav-item-4, a {
        display: flex;
        align-items: flex-start;
        width: 15rem;
        padding: 0.2rem;
    }

    a {
        max-width: 8.3rem;
        font-size: 1.2rem;
        color: white;
        border-bottom: 1px solid #ccc;
    }
}

.sidebar.open {
    transform: translateX(0);
  }

.sidebar ul li a:hover {
    background-color: blue;
    border-radius: 0.5rem;
    padding: 0.3rem;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: black;
}